// all the imports
@import "mixins/defaultDisplay";
@import "mixins/defaultFont";

@import "components/view";
@import "components/text";
@import "components/image";
@import "components/text-input";
@import "components/scroll-view";

// default style for the html document
html, body, #app{
  margin: 0;
  padding: 0;

  .defaultFont();

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* by default, react-native crops content */
}

// make React-added spans display as inline-block to avoid IE10 bug around flexbox and inline elements.
// NOTE: they should be avoided by the way.
span{
  display: inline-block;
}
